{% extends "bootstrap/base.html" %}

{% block head %}
{{super()}}
<link rel="shortcut icon" type="image/x-icon" href="./static/favicon.ico">

{% endblock %}

{% block title %}Manage Kerstboomlichtjes{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
    <!-- ... -->
</div>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Kerstboomlichtjes</h1>
    </div>
    <p>
        {% for ip_address in ip_addresses %}
        <div class=flash>{{ ip_address }}</div>
        {% endfor %}
    </p>
    <p>
        <button type="button" id="startAudio" class="btn btn-lg btn-default">Start Audio</button>
        <button type="button" id="killAudio" class="btn btn-lg btn-default">Kill Audio</button>
    </p>
    {% block scripts %}
    <script>
        $( document ).ready(function() {
            $( "#startAudio" ).click(function() {
                $.ajax({url: "audio"});
            });
            $( "#killAudio" ).click(function() {
                $.ajax({url: "killaudio"});
            });
        });
    </script>
    {{super()}}
    {% endblock %}

{% endblock %}